 @model Male.Models.Product
 @{
    var productRelated = ViewBag.productRelated as IEnumerable<Product>;
    
 }
 <section class="shop-details">
        <div class="product__details__pic">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product__details__breadcrumb">
                            <a asp-action='index' asp-controller='home'>Home</a>
                            <a asp-action='index' asp-controller='shop'>Shop</a>
                            <span>Product Details</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">
                                    <div class="product__thumb__pic set-bg" data-setbg="/uploads/@Model.img1">
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">
                                    <div class="product__thumb__pic set-bg" data-setbg="/uploads/@Model.img2">
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">
                                    <div class="product__thumb__pic set-bg" data-setbg="/uploads/@Model.img3">
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-4" role="tab">
                                    <div class="product__thumb__pic set-bg" data-setbg="/uploads/@Model.img4">
                                        <i class="fa fa-play"></i>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-9">
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="product__details__pic__item">
                                    <img src="/uploads/@Model.img1" alt="">
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <div class="product__details__pic__item">
                                    <img src="/uploads/@Model.img2" alt="">
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-3" role="tabpanel">
                                <div class="product__details__pic__item">
                                    <img src="/uploads/@Model.img3" alt="">
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-4" role="tabpanel">
                                <div class="product__details__pic__item">
                                    <img src="/uploads/@Model.img4" alt="">
                                    <a href="https://www.youtube.com/watch?v=8PJ3_p7VqHw&list=RD8PJ3_p7VqHw&start_radio=1" class="video-popup"><i class="fa fa-play"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product__details__content">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <div class="product__details__text">
                            <h4>@Model.Name</h4>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <span> - 5 Reviews</span>
                            </div>
                            <h3>$@Model.Price.00<span>70.00</span></h3>
                            <p>@Model.description</p>
                            <div class="product__details__option">
                                <div class="product__details__option__size">
                                    <span>Size:</span>
                                    <label for="xxl">xxl
                                        <input type="radio" id="xxl">
                                    </label>
                                    <label class="active" for="xl">xl
                                        <input type="radio" id="xl">
                                    </label>
                                    <label for="l">l
                                        <input type="radio" id="l">
                                    </label>
                                    <label for="sm">s
                                        <input type="radio" id="sm">
                                    </label>
                                </div>
                                <div class="product__details__option__color">
                                    <span>Color:</span>
                                    <label class="c-1" for="sp-1">
                                        <input type="radio" id="sp-1">
                                    </label>
                                    <label class="c-2" for="sp-2">
                                        <input type="radio" id="sp-2">
                                    </label>
                                    <label class="c-3" for="sp-3">
                                        <input type="radio" id="sp-3">
                                    </label>
                                    <label class="c-4" for="sp-4">
                                        <input type="radio" id="sp-4">
                                    </label>
                                    <label class="c-9" for="sp-9">
                                        <input type="radio" id="sp-9">
                                    </label>
                                </div>
                            </div>
                            <form asp-action='addToCart' asp-route-returnUrl='/shop/detail/@Model.id' asp-controller='cart' method="post"  class="product__details__cart__option">
                                <div class="quantity ">
                                    <div class="input-group">
                                        <input type="number" name="quantity" value="1" id="quantityInput" min="1" max="100" step="1"> 

                                    </div>
                                        <input name="productId" value="@Model.id" hidden> 
                                </div>
                                <button href="#" type="submit" class="primary-btn btn-addTocard">add to cart</button>
                            </form>
                            <div class="product__details__btns__option">
                                <a href="#"><i class="fa fa-heart"></i> add to wishlist</a>
                                <a href="#"><i class="fa fa-exchange"></i> Add To Compare</a>
                            </div>
                            <div class="product__details__last__option">
                                <h5><span>Guaranteed Safe Checkout</span></h5>
                                <img src="img/shop-details/details-payment.png" alt="">
                                <ul>
                                    <li><span>SKU:</span> 3812912</li>
                                    <li><span>Categories:</span> Clothes</li>
                                    <li><span>Tag:</span> Clothes, Skin, Body</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product__details__tab">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#tabs-5"
                                    role="tab">Description</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tabs-6" role="tab">Customer
                                    Previews(5)</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tabs-7" role="tab">Additional
                                    information</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tabs-5" role="tabpanel">
                                    <div class="product__details__tab__content">
                                        <p class="note">Nam tempus turpis at metus scelerisque placerat nulla deumantos
                                            solicitud felis. Pellentesque diam dolor, elementum etos lobortis des mollis
                                            ut risus. Sedcus faucibus an sullamcorper mattis drostique des commodo
                                        pharetras loremos.</p>
                                        <div class="product__details__tab__content__item">
                                            <h5>Products Infomation</h5>
                                            <p>Shirts: We offer a range of shirt styles, including classic button-downs, polo shirts, and graphic tees. Our shirts are made from high-quality cotton or a cotton blend, and are designed to be comfortable and durable.
                                                Pants: We have a variety of pants options, including jeans, chinos, and dress pants. Our pants come in different fits and colors, so you can find the perfect pair for any occasion.
Suits: If you're looking for something more formal, our collection also includes suits. We offer both two-piece and three-piece suits in a range of colors and fabrics, so you can find the perfect fit for any event.
Shoes: No outfit is complete without the right shoes. We offer a range of shoe styles, from classic dress shoes to more casual sneakers and loafers. Our shoes are made from high-quality materials and are designed to be comfortable and stylish.
Accessories: To complete your look, we also offer a range of accessories, including belts, ties, and hats. Our accessories are designed to complement our clothing items and add a finishing touch to any outfit.
Overall, our men's fashion line is designed to be both stylish and comfortable. We use high-quality materials and pay attention to every detail, so you can feel confident in your look no matter where you're headed.</p>
                                            
                                        </div>
                                        <div class="product__details__tab__content__item">
                                            <h5>Male fashion</h5>
                                            <p>Gucci is a renowned Italian luxury fashion brand that 
                                                is globally recognized for its distinctive and high-end style. 
                                                Gucci's style can be described as eclectic, bold, and sophisticated, 
                                                blending classic elements with contemporary and innovative designs. 
                                                Here are some key features and characteristics commonly associated with Gucci </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tabs-6" role="tabpanel">
                                    <div class="product__details__tab__content">
                                        <div class="product__details__tab__content__item">
                                            <h5>Products Infomation</h5>
                                            <p>Introducing our latest collection of men's fashion! Our line features a variety 
                                                of stylish and comfortable clothing items perfect for any occasion. 
                                                From casual t-shirts and jeans to formal suits and dress shoes, we 
                                                have everything you need to look and feel your best.
                                            Our collection focuses on quality materials and modern designs, 
                                            with an emphasis on comfort and versatility. You'll find a range of 
                                            colors and styles to choose from, making it easy to mix and match pieces 
                                            to create the perfect outfit.
                                            Whether you're looking for a classic style or something more trendy,
                                             our men's fashion line has got you covered. So why wait? Browse our 
                                             collection today and start putting together your next great outfit!</p>
                                            <p>As is the case with any new technology product, the cost of a Pocket PC
                                                was substantial during it’s early release. For approximately $700.00,
                                                consumers could purchase one of top-of-the-line Pocket PCs in 2003.
                                                These days, customers are finding that prices have become much more
                                                reasonable now that the newness is wearing off. For approximately
                                            $350.00, a new Pocket PC can now be purchased.</p>
                                        </div>
                                        <div class="product__details__tab__content__item">
                                            <h5>Male Fashions</h5>
                                            <p>It's important to note that Gucci's style evolves with each collection, 
                                                and creative director Alessandro Michele has played a significant 
                                                role in shaping the brand's recent aesthetic. Therefore, 
                                                Gucci's style is constantly evolving, while still retaining its 
                                                signature elements of luxury, innovation, and self-expression.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tabs-7" role="tabpanel">
                                    <div class="product__details__tab__content">
                                        <p class="note">Nam tempus turpis at metus scelerisque placerat nulla deumantos
                                            solicitud felis. Pellentesque diam dolor, elementum etos lobortis des mollis
                                            ut risus. Sedcus faucibus an sullamcorper mattis drostique des commodo
                                        pharetras loremos.</p>
                                        <div class="product__details__tab__content__item">
                                            <h5>Products Infomation</h5>
                                            <p>Our brand: We are a modern and forward-thinking brand that believes in 
                                                creating high-quality, stylish, and sustainable fashion for men. 
                                                We are committed to creating pieces that are not only fashionable 
                                                but also comfortable and versatile, so our customers can look and feel 
                                                their best in any situation.</p>
                                            
                                        </div>
                                        <div class="product__details__tab__content__item">
                                            <h5>Brand Male Fashion</h5>
                                            <p>Design philosophy: We believe in creating fashion that is timeless and versatile, rather than just following the latest trends. We focus on creating pieces that can be mixed and matched to create a variety of different looks, so our customers can get the most out of their wardrobe.
Materials: We carefully select the materials we use in our products to ensure they are high-quality, durable, and sustainable. We use natural and eco-friendly fabrics like organic cotton and linen, and work with suppliers who adhere to ethical and sustainable production practices.
Manufacturing: We work with factories that prioritize fair labor practices and safe working conditions. We believe in transparency in our manufacturing process and are committed to maintaining ethical and sustainable standards throughout our supply chain.
Community: We believe in building a community around our brand and our customers. We engage with our customers through social media and other channels, and offer exclusive promotions and events to our loyal customers.
</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Details Section End -->

    <!-- Related Section Begin -->
    <section class="related spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="related-title">Related Product</h3>
                </div>
            </div>
            <div class="row">
                @if(productRelated != null){
                    foreach (var item in productRelated)
                    {
                        <div class="col-lg-3 col-md-6 col-sm-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="/uploads/@item.img1">
                                    <span class="label">New</span>
                                    <ul class="product__hover">
                                        <li><a href="#"><img src="/client/img/icon/heart.png" alt=""></a></li>
                                        <li><a href="#"><img src="/client/img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                                        <li><a href="#"><img src="/client/img/icon/search.png" alt=""></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6>Piqué Biker Jacket</h6>
                                    <a href="#" class="add-cart">+ Add To Cart</a>
                                    <div class="rating">
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <h5>$67.24</h5>
                                    <div class="product__color__select">
                                        <label for="pc-1">
                                            <input type="radio" id="pc-1">
                                        </label>
                                        <label class="active black" for="pc-2">
                                            <input type="radio" id="pc-2">
                                        </label>
                                        <label class="grey" for="pc-3">
                                            <input type="radio" id="pc-3">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
               
            </div>
        </div>
    </section>

@* <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    const quantity = document.querySelector("#quantityInput").value;
    const btnAddToCard = document.querySelector('.btn-addTocard');

    btnAddToCard.addEventListener('click', e => {
        console.log(quantity)
        console.log({model:})
    })
    
</script> *@